body{
	text-align : center;
	background : url("img/jordan.jpg") no-repeat center;
	/*vertical-align : middle;
	
	color : red;
	font-size : 200%;*/
}


h1{
	font-size : 200%;
	color : red;
}

#cmdFacebook{
	width : 30%;
	height : 5%;
	display : inline-block;
	border-radius : 50px 0 0 50px;
	border: none;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	/*background-color : blue;
	color : white;*/
	background : url("img/f2.png") no-repeat center;
	background-size : 100%;
}

#cmdFacebook:hover{
	cursor : pointer;
}

#cmdFacebook:active{
	transform : scaleY(0.9);
}

#cmdGoogle{
	width : 30%;
	height : 5%;
	display : inline-block;
	border-radius : 0 50px 50px 0;
	border: none;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	/*background-color : red;
	color : white;*/
	background : url("img/g1.png") no-repeat center;
	background-size : 100%;
}

#cmdGoogle:hover{
	cursor : pointer;
}

#cmdGoogle:active{
	transform : scaleY(0.9);
}

/*header{
	background-color : blue;
	height : 10%;
}

nav{
	background-color : red;
	height : 10%;
}

aside{
	width : 50%;
	height : 70%;
	background-color : purple;
	display : inline-block;
	float : left;
}

section{
	background-color : gray;	
	height : 50%;
}

article{
	background-color : green;
	height : 50%;
}

main{
	width : 50%;
	height : 70%;
	background-color : white;
	display : inline-block;
}*/

input{
	width: 70%;
	border: none;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-bottom: 2px solid red;
}

#password{
	background : rgba(255,255,255,0);
	color : black;
}

#email{
	background : rgba(255,255,255,0);
	color : black;
}

::placeholder{
	color : red;
	font-size : 150%;
	/*font-weight : bold;*/
}

#cmdFpass{
	background : rgba(255,255,255,0);
	color : red;
	/*font-weight : bold;*/
	font-size : 130%;
	border-bottom : none;
	text-align : left;
}
/*----------------test href------------------------*/
#fpass{
	color : red;
	font-size : 150%;
	text-align : left;
	text-decoration : none;
}

#fpass:visited{
	color : red;
}

#fpass:hover{
	color : white;
}

#fpass:active{
	color : yellow;
}


/*-----------------------------------*/
#cmdLogin{
	border-radius : 50px;
	border-bottom : none;
	font-size : 100%;
	background-color : red;
	font-weight : bold;
	letter-spacing : 5px;
}

#cmdLogin:hover{
	background : rgb(220,0,0);
	color : white;
	cursor : pointer;
}

#cmdLogin:active{
	transform : scaleY(0.9);
}

#register{
	color : red;
	font-size : 150%;
	text-align : left;
	text-decoration : none;
}

#register:visited{
	color : red;
}

#register:hover{
	color : white;
}

#register:active{
	color : yellow;
}
/*input[type=email] {
	background-color: #3CBC8D;
	color: white;
}

/*footer{
	background-color : yellow;
	height : 10%;
}*/